.gradebook
    table.table.table-striped
        thead
            tr
                th Student
                th Intro
                th Strings and Integers
                th Dates and Times
        tbody
            tr(ng-repeat="(student, hunts) in gradebook.service.book")
                td {{student}}
                td(ng-init="i = hunts['Intro']")
                    | ({{ i.points }})
                    | {{ i.grade | number:1 }},&nbsp;
                    b {{ i.grade | letter }}
                td(ng-init="s = hunts['Strings and Integers']")
                    | ({{ i.points }})
                    | {{ s.grade | number:1 }},&nbsp;
                    b {{ s.grade | letter }}
                td(ng-init="d = hunts['Dates and Times']")
                    | ({{ i.points }})
    button(ng-click="gradebook.service.buildGradebook()")
