.hunts(ng-init="order = 'id'; direction = {}; search = ''")
    table.table.table-striped
        thead
            tr
                th(sort='id') Program
                th(sort='name') Name
                th
                    form.form-inline(role="form")
                        .form-group.has-feedback.expand
                            label.control-label(for="search") Description
                            .pull-right.hidden-print
                                input#search.form-control.input-sm(
                                    type="search"
                                    placeholder="Search..."
                                    ng-model="search"
                                )
                                span.glyphicon.glyphicon-search.form-control-feedback
                th(sort='points') Points
                th.visible-print(width='10%') Finished
        tbody
            tr(ng-repeat="item in hunt.itemList | orderBy:order:direction[order] | filter:search")
                td {{ item.id }}
                td {{ item.name }}
                td {{ item.description }}
                td {{ item.points }}
                td.visible-print
