.jumbotron
    h4  Leaderboard
    table.table.table-striped(ng-init="order = 'name' ; direction = {}")
        thead
            tr
                th(width="30%", sort="name") Leader
                th(width="35%", sort="finished") Programs
                th(width="15%", sort="points") Points
                th(width="20%", sort="tickets") Tickets
        tbody
            tr(
                ng-repeat="leader in leaders.leaders | orderBy:order:direction[order]"
                ng-init="expandProgramList = false"
                ng-click="expandProgramList = !expandProgramList"
            ).leader
                td {{ leader.name | expandName}}
                td._programs
                    b {{ leader.programs.length }} program{{ leader.programs.length > 1 ? 's' : ''}}
                    ul.programs(ng-show="expandProgramList")
                        li._name(
                            ng-repeat="program in leader.programs"
                        )
                            | {{ program.name }}
                td {{ leader.points }}
                td {{ leader.tickets }}
