.jumbotron
    h4  Leaderboard
    table.table.table-striped(ng-init="order = 'name' ; direction = {}")
        thead
            tr
                th(width="30%", sort="name") Leader
                th(width="35%", sort="finished") Programs
                th(width="15%", sort="points") Points
                th(width="20%", sort="tickets") Tickets
        tbody
            tr(
                ng-repeat="leader in leaders.leaders | orderBy:order:direction[order]"
                ng-init="expandProgramList = false"
            ).leader
                td {{ leader.name | expandName}}
                td._programs(
                    ng-click="expandProgramList = !expandProgramList"
                )
                    b(ng-init="l = leader.finished") {{ l }} program{{ l > 1 ? 's' : ''}}
                    ul.programs(ng-show="expandProgramList")
                        li._name(
                            ng-repeat="filename in leader.programs"
                        )
                            | {{ filename }}
                td {{ leader.points }}
                td {{ leader.tickets }}
